<nav class="">
  <!-- <button (click)="toggleSidebar()"><i class="fa-solid fa-bars"></i></button> -->
  <ul class="navlists">
    <li>
      <a href="/">
        <i class="fa-solid fa-chalkboard-user"></i><span class="about-me">Sobre mim</span>
      </a>
    </li>

    <li>
      <a href="/portfolio">
       <i class="fa-solid fa-code"></i><span class="portfolio">Portfólio</span>
      </a>
    </li>

    <li class="/blog">
      <a href="">
        <i class="fa-solid fa-blog"></i><span class="blog">Blog</span>
      </a>
    </li>

    <li>
      <a href="/contact">
        <i class="fa-solid fa-envelope"></i><span class="contact">Contato</span>
      </a>
    </li>
  </ul>
</nav>
