<div class="content">
  <app-sidebar></app-sidebar>

  <div class="form-container">
    <form class="contact-form">
      <h2>Contato</h2>
      <P>Envie sua mensagem através do formulário abaixo.</P>

      <div class="form-group">
        <input type="text" id="name" name="name" placeholder=" " required>
        <label for="name">Nome</label>
      </div>

      <div class="form-group">
        <input type="email" id="email" name="email" placeholder=" " required>
        <label for="email">Email</label>
      </div>

      <div class="form-group">
        <textarea id="message" name="message" rows="5" placeholder=" " required></textarea>
        <label for="message">Mensagem...</label>
      </div>

      <div class="form-button">
        <button type="submit">Enviar</button>
      </div>
    </form>
  </div>

</div>

<footer class="footer">
  <app-footer></app-footer>
</footer>

