<div class="content">
  <app-sidebar></app-sidebar>

  <div class="portfolio-container">
    <section class="portfolio-section">
      <h1>Portfólio</h1>
      <p>Bem vindo ao meu portfólio de projetos, aqui estará elencado todos os meus projetos pessoais.</p>

      <div class="tabs-container">
        <ul class="tabs">
          <li class="tab active" data-tab="todos">Todos</li>
          <li class="tab" data-tab="backend">Backend</li>
          <li class="tab" data-tab="frontend">Frontend</li>
        </ul>
      </div>

      <div class="tabs-content">
        <div class="tab-content active" id="todos">
          <article>
            <h2>Seção 1</h2>
            <p>Conteúdo da seção 1...</p>
          </article>
        </div>

        <div class="tab-content" id="todos" id="todos backend">
          <article>
            <h2>Seção 2</h2>
            <p>Conteúdo da seção 2...</p>
          </article>
        </div>

        <div class="tab-content" id="todos" id="todos frontend">
          <article>
            <h2>Seção 3</h2>
            <p>Conteúdo da seção 3...</p>
          </article>
        </div>
      </div>
    </section>
  </div>

</div>



<footer class="footer">
  <app-footer></app-footer>
</footer>
