<main class="main-container">
  <section class="summary-wrapper">
    <h1 class="developer-name">Luis Gustavo</h1>
    <h2 class="developer-jobrole">Desenvolvedor de software</h2>
    <p class="developer-info">
      Sou um apaixonado desenvolvedor de software fullstack, obcecado pela criação de experiências digitais. Com profunda experiência na construção de aplicações web robustas e escaláveis, estou sempre em busca de novos desafios e oportunidades para inovar.
      Não hesite entrar em  <a href="/contact" class="p-hyperlink">contato</a> para saber mais sobre mim ou explore meu incrível
      <a href="/portfolio" class="p-hyperlink">portfólio de projetos</a> para acompanhar minhas habilidades.
    </p>
  </section>

  <hr class="gradient-line">

  <section class="projects-container">
    <div class="projects-wrapper">
      <hr class="vertical-line">
      <h1 class="projects-title">Projetos em destaque</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card">
          <img
            src="https://uploaddeimagens.com.br/images/004/814/044/original/Captura_de_tela_2024-07-24_032306.png"
            class="card-img-top" alt="Projeto Carro API" />
          <div class="card-body">
            <h5 class="card-title">Carro API</h5>
            <p class="card-text">
              Este projeto fullstack implementa operações CRUD utilizando Java com Spring Boot no backend e TypeScript
              com Angular no frontend. Utiliza MySQL como banco de dados para armazenamento. A autenticação e
              autorização são gerenciadas pelo Spring Security, integrado com tokens JWT para controle seguro de acesso.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="https://uploaddeimagens.com.br/images/004/814/043/original/Captura_de_tela_2024-07-24_031609.png" class="card-img-top" alt="Projeto Petshop System" />
          <div class="card-body">
            <h5 class="card-title">Petshop System</h5>
            <p class="card-text">
              O sistema de Petshop adota uma arquitetura distribuída com várias tecnologias interconectadas. A
              autenticação inicial é feita por uma aplicação Java, garantindo segurança no acesso. A aplicação principal
              do Petshop é desenvolvida em Go, aproveitando sua eficiência e desempenho. A integração entre as partes do
              sistema assegura funcionalidade eficiente no gerenciamento das operações do Petshop.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="https://uploaddeimagens.com.br/images/004/814/041/original/Captura_de_tela_2024-07-24_030859.png" class="card-img-top" alt="Projeto Web Simples" />
          <div class="card-body">
            <h5 class="card-title">Verificador de idade</h5>
            <p class="card-text">
              Este projeto web simples foi criado com HTML, CSS e JavaScript. Ele exibe a idade e o
              gênero do usuário de maneira clara e intuitiva. A interface é projetada para oferecer uma experiência
              direta, permitindo ao usuário acessar facilmente as informações apresentadas sem dificuldades adicionais.<br>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="button">
      <button type="button" class="btn btn-dark" data-mdb-ripple-init><i class="fa-solid fa-arrow-right"></i> Olhar portfólio</button>
    </div>
  </section>

  <section class="stacks-wrapper">
    <hr class="vertical-line">
    <h2 class="stacks-title">Minhas stacks</h2>
    <p class="stacks-info">
      Com mais de 2 anos de experiência como desenvolvedor de softwares, abaixo, é possível ter uma visão rápida dos meus principais conjuntos de tecnologias que eu uso no dia a dia.
      <a href="/portfolio" class="p-hyperlink">Confira meu portfólio de projetos.</a>
    </p>
  </section>

  <section class="stacks-container">
    <article class="stack javascript">
      <div class="stack-icons">
        <i class="fa-brands fa-js" style="color: #f7df1e" aria-hidden="true"></i>
      </div>
      <h2 class="stack-title">JavaScript</h2>
      <p class="stack-description">
        Possuo experiência no desenvolvimento de aplicações com JavaScript há mais de 2 anos, trabalhando com projetos
        simples até projetos mais complexos. Utilizo frameworks modernos como Angular e React para construir interfaces
        de usuário dinâmicas e responsivas.
      </p>
    </article>

    <article class="stack angular">
      <div class="stack-icons">
        <i class="fa-brands fa-angular" style="color: #DF0522" aria-hidden="true"></i>
      </div>
      <h2 class="stack-title">Angular</h2>
      <p class="stack-description">
        Possuo proficiência em Angular 17 e 18, desenvolvendo aplicações robustas, modulares e bem estruturadas, utilizando sempre as melhores e mais recentes
        práticas recomendadas.
      </p>
    </article>

    <article class="stack java-springboot">
      <div class="stack-icons">
        <i class="fa-brands fa-java" style="color: #5382a1" aria-hidden="true"></i>
        <i class="fa-solid fa-power-off" style="color: #6DB33F" aria-hidden="true"></i>
      </div>
      <h2 class="stack-title">Java & Spring Boot</h2>
      <p class="stack-description">
        Possuo experiência na construção de aplicações web utilizando Java e o ecossistema de recursos do framework
        Spring, como por exemplo, o Spring web para construir APIs Restful, Spring Security para autenticação e autorização, Spring Data
        JPA para integração com bancos de dados relacionais, entre outros recursos.
      </p>
    </article>

    <article class="stack html-css">
      <div class="stack-icons">
        <i class="fa-brands fa-html5" style="color: #E34F26" aria-hidden="true"></i>
        <i class="fa-brands fa-css3-alt" style="color: #1572B6" aria-hidden="true"></i>
      </div>
      <h2 class="stack-title">HTML5 & CSS3</h2>
      <p class="stack-description">
        Possuo sólida experiência há mais de 2 anos no desenvolvimento web utilizando HTML5 para estruturação de conteúdo
        e CSS3 para estilizações de layout, incluindo técnicas modernas como Flexbox e Grid Layout para criação de
        layouts responsivos. Utilizo também metodologias como BEM (variáveis em cascata) para garantir a modularidade e reusabilidade do CSS.
      </p>
    </article>

    <article class="stack sass-less">
      <div class="stack-icons">
        <i class="fa-brands fa-sass" style="color: #CC6699" aria-hidden="true"></i>
        <i class="fa-brands fa-less" style="color: #1D365D" aria-hidden="true"></i>
      </div>
      <h2 class="stack-title">Sass & LESS</h2>
      <p class="stack-description">
        Possuo experiência com o uso de pré-processadores CSS como Sass e Less, permitindo a escrita de estilos de forma
        mais eficiente e organizada através de variáveis, aninhamento e mixins.
      </p>
    </article>

    <article class="stack docker">
      <div class="stack-icons">
        <i class="fa-brands fa-docker" style="color: #2496ED" aria-hidden="true"></i>
      </div>
      <h2 class="stack-title">Docker</h2>
      <p class="stack-description">
        Sou proficiente em Docker, com conhecimento em configurar o Docker e Docker Compose para criar
        ambientes de desenvolvimento isolados, garantindo a alta disponibilidade, reutilização e integração de
        aplicações.
      </p>
    </article>
  </section>
</main>
